/* INFORMAÇÕES PRESENTES NESTE DOCUMENTO
	- Document: Ponto do Refresco
	- Version:  1.0.0
	- Author:   A. CAVALLARO
*/

/* CORES
    - Cor do texto do nav         #9aa1b1
    - Cor do texto especial       #f42f2c
	- Cor do texto do body        black
	- Cor do texto do review      #f0f0f0
	- Cor das áspas do review     #f42f2c
*/

/* FONTES

*/

/* ===============
   Estilos globais
   =============== */

:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: #dfdfdf;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Oswald', serif;
}

.container {
    margin: 0 auto;
    max-width: 700px;
}

/* ===============
   Menu de Navegação
   =============== */

.site-nav {
    display: block;
    padding: 0.5em;
    list-style-type: none;
    background-color: #f9f9ff;
    border-radius: 0.2em;
}

.site-nav > li {
    margin: 0;
    padding: 0.1em 0.2em;
    display: inline-block;
}

.site-nav > li > a {
    display: block;
    padding: 0.4em 0.2em;
    background-color: #eee;
    color: #9aa1b1;
    text-decoration: none;
}

.site-nav > li > a:hover {
    color: white;
    background-color: #f42f2c;
    border: 1px dashed white;
}

.nav-right > a:nth-child(1) {
    background-color: #f42f2c;
    color: white;
}

.nav-right > a:nth-child(1):hover {
    color: #f42f2c;
    background-color: white;
    border: 1px dashed #f42f2c;
}

/* ===============
   Main - Conteúdo principal
   =============== */

/* ===============
   Contêiner com imagens de bebidas
   =============== */

main {
    background-color: #f9f9ff;
    margin-bottom: 1em;
    margin: 0 auto;
    padding: 1px;
}

/* ===============
   Contêiner com imagens de bebidas
   =============== */

.bebida {
    list-style-type: none;
    max-width: 500px;
    margin: 0 auto;
}

.item {
    width: 33%;
    padding: 10px;
    float: left;
}

/* Usa a propriedade clear */
.bebida:after {
    content: '';
    display: block;
    clear: both;
}








/* ===============
   Aside
   =============== */
/* aside {
    background-color: #f9f9ff;
    float: right;
    float: left;
    padding: 5px;
    width: 40%;
   } */

/* ===============
   Footer
   =============== */

footer {
    padding: 0.5em;
    margin-top: 0.5em;
    list-style-type: none;
    background-color: #f9f9ff;
    border-radius: 0.2em;
}
